html {
    background-color: red;
}
h1 {
    color:goldenrod;
    text-shadow:1px -1px 0px gold, 2px 0px 0px rgb(87, 74, 0);

}

body {
    text-align:center;
    align-content: center;
}
button {
    margin-top:20px;
    width:4rem;
    height:2rem;
    
    
}

#main {
    margin:auto;
    display: block;
    width:800px;
    height:800px;
    background-color: white;
    box-shadow: inset 0px 0px 20px black;
    border-radius:20px;
    font-size:0;
    border: goldenrod 4px solid;
}

#box-style {
    display:inline-block;
    margin:0px;
    
}

.black {
    background-color:black;
}